/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #47767a;
  position: absolute;
}

/* 
.profile {
  font-family: 'Gentium Plus', serif;
  height: 400px;
  width: 400px;
  position: relative;
  border: 5px solid;
/* } */

.wrapper {
  width: 95%;
  height: 10vh;
  display: flex;
  margin: 5% auto;
}

.profilePhoto {
  background: url(./images//userprofile.jpg);
  position: relative;
  background-size: 150% 150%;
  /* padding: -15px -15px; */
  height: 100%;
  width: 40%;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;

  /* font-family: 'Kaushan Script', cursive; */

  /* height: 300px;

  border-color: pink; */
}

.profileName {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto 10%;
  color: white;
  font-weight: bold;
}

.my_file {
  margin: 46px 0;
  display: none;
}